<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap"
          rel="stylesheet">
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div>
    <div>
        <a th:href="@{/login}">Already a User? </a> <a th:href="@{/register}"> Register</a>
    </div>
    <h1>HOME</h1>
</div>
</body>
</html>